<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.moviecomm.repository.AuthorityMapper">
    <select id="findByAuthorityCode" resultType="Authority">
        SELECT
            authority_code,
            name,
            description
        FROM authority
        WHERE authority_code = #{authorityCode}
    </select>
</mapper>