<!DOCTYPE html>
<html th:replace="~{layout/mainLayout :: layout(~{::title}, ~{::main}, ~{::insertHead})}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="|${boardName}  - 글쓰기|">글쓰기</title>
    <th:block th:fragment="insertHead">
    </th:block>
</head>
<body>
<main>
    <div class="container mt-5">
        <h2 class="text-center mb-4">글쓰기</h2>
        <form action="write" th:action="@{write/{boardNo} (boardNo=${boardNo})}" method="post" th:object="${post}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" name="title" th:field="*{title}" required />
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" name="content" rows="5" th:field="*{content}" required></textarea>
            </div>
            <div class="mb-3">
                <label for="file" class="form-label">첨부파일</label>
                <input type="file" class="form-control-file" id="file" th:field="*{file}" name="file">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">글쓰기</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>