<!--mybatis mapper meta data  setting-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.moviecomm.board.repository.PostMapper">
    <insert id="save" parameterType="hello.moviecomm.board.domain.Post">
        INSERT INTO post
        (post_no, title, content, file_name, store_file_name, member_no, board_no)
        VALUES
        (seq_post_no.nextval,
         #{title},
         #{content},
         #{fileName, jdbcType=VARCHAR},
         #{storeFileName, jdbcType=VARCHAR},
         #{memberNo},
         #{boardNo})
    </insert>
    <select id="findByNo" resultType="hello.moviecomm.board.domain.Post">
        SELECT
            post_no,
            title,
            content,
            create_at,
            file_name,
            store_file_name,
            member_no,
            board_no
        FROM post
        WHERE post_no = #{postNo}
    </select>
    <select id="findAll" resultType="hello.moviecomm.board.domain.Post">
        SELECT
            post_no,
            title,
            content,
            create_at,
            file_name,
            store_file_name,
            member_no,
            board_no
        FROM post
        WHERE  board_no = #{boardNo}
        ORDER BY post_no DESC
    </select>
    <update id="remove">
        DELETE FROM post
        WHERE post_no = #{postNo}
    </update>
    <update id ="modify" parameterType="hello.moviecomm.board.domain.Post"  >
        update  post
        set
            title = #{updatedPost.title},
            content = #{updatedPost.content},
            file_name = #{updatedPost.fileName, jdbcType=VARCHAR},
            store_file_name = #{updatedPost.storeFileName, jdbcType=VARCHAR}
        where post_no = #{postNo}
    </update>
    <select id="findRange" resultType="hello.moviecomm.board.domain.Post">
        SELECT *
        FROM (
                 SELECT post_no, title, content, create_at, file_name, store_file_name, member_no, board_no,
                        ROW_NUMBER() OVER (ORDER BY post_no DESC) AS rnum
                 FROM post
                 WHERE board_no = #{boardNo}
             )
        WHERE rnum BETWEEN #{start} AND #{end}
    </select>
</mapper>